@font-face {
    font-family: PixelDart;
    src: url('https://github.com/deathlybread/deathlybread.github.io/blob/master/fonts/PixelDart.ttf');
}
.secret {
    font-family: PixelDart;
    color: #FFFFFF;
}
